doctype html
html(ng-app="resumeApp")
  meta(name='robots', content='noindex, nofollow')
  meta(name='googlebot', content='noindex, nofollow')
  meta(name='viewport', content='width=device-width, initial-scale=1')

  head
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')    
    link(rel='stylesheet', href='/stylesheets/style.css')

    script(src="/javascripts/jquery-1.12.3.min.js")
    script(src="/javascripts/transition.js")
    script(src="/javascripts/collapse.js")
    script(src="/javascripts/jquery-ui.min.js")
    script(src="/javascripts/analytics.js")
    script(src="/javascripts/angular.min.js")
    script(src="/javascripts/angular-route.min.js")
    script(src="/angular/app.js")
    script(src="/angular/controllers.js")
    script(src="/angular/directives.js")
    script(src="/angular/routes.js")
    script(src="/javascripts/foot.js")

  body
    .wrapper
      ng-view
