doctype html
html
  meta(name='robots', content='noindex, nofollow')
  meta(name='googlebot', content='noindex, nofollow')
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
