.context
	header(class='header real')
	header(class='header fake screen')

	.body-content
		text-content(content-id='profile', content-title='About Me', content-text='{{data.profile}}', class='screen')
		text-content(content-id='profile-print', content-title='Profile', content-text='{{data.profile}}', class='print')
		techskills(content-id='skills', content-title='Technical Skills', skills='data.skills')
		experience(content-id='exp', content-title='Experience', experiences='data.experience')
		additional-experience(content-id='addlexp', content-title='Additional Activities', experiences='data.additionalExperience')
		awards(content-id='awards', content-title='Awards and Certifications', all-awards='data.awards')
		text-content(content-id='education', content-title='Education', content-text='{{data.education}}')
		text-content(content-id='references', content-title='References', content-text='{{data.references}}', class='print')
		text-content(content-id='about', content-title='About This Resume', content-text='{{data.about}}', class='screen')
		text-content(content-id='about-print', content-title='About This Resume', content-text='{{data.aboutPrint}}', class='print')
		.footer
