html, body {
	background-color:#493829;
	height:100%;
	margin:0;
}

.outerWrapper {
	text-align:center;
	height:100%;
	padding:25px;
}


.wrapper 
{
	max-width:850px;
	padding:30px 5%;
	display:inline-block;
	height:100%;
	width:85%;
	color:#3E3E3E;
	background-color:#F8F8F8;
	overflow:auto;
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.innerWrapper {
	overflow:auto;
	position:relative;
	display:table-row;
	text-align:initial;
	max-width:850px;
    height:100%;
}

a {
	color: #00B7FF;
}

p.role {
	font-size:14px;
}

h1 p {
	font-size: 2.7vw;
	text-transform: uppercase;
	font-weight: bold;
	margin:0px;
}

p, li {
	font-size:12px;
}

h2 {
	margin:0px;
}
h2  p{
	font-size:18px;
	text-transform: uppercase;
	font-weight:bold;
	margin-bottom:3px;
}

h3 p {
	font-size:16px;
	margin-bottom:3px;
	font-weight:bold;
}

ul { 
	margin-top:3px;
	padding-left:30px;
}

li { 
	margin-bottom:3px;
}

p {
	margin:2px;
}

.alignleft {
	float: left;
	margin:0px;
}

.alignright {
	float: right;
	margin:0px;
}

.experience {
	padding-left:15px;
}

.experienceDetails {
	padding-left:5px;
}

.jobtitle {
	font-weight:bold;
}

.pointer {
	cursor:pointer;
	display:inline-block;
	margin:0px;
	padding-bottom:5px;
}

.section{
	padding-left:0px;
}

.section .expander:before {
    content: "-";  
    padding-right:9px;
}

.section .collapsed .expander:before {
	content: "+"; 
    padding-right:6px; 
}

.section .collapsed.expander:before {
    content: "+"; 
    padding-right:5px;  
} 

.sectionContent { 
	padding-left:18px;
}

.skill {
	padding-bottom:5px;
}

@media (min-width: 908px) {
	h1 p {
		font-size: 24px; 
	}
	.wrapper {
		width:900px;
	}
}

@media (max-width: 700px) {
	ul { 
		margin-top:3px;
		padding-left:15px;
	}

	h1 p {
		font-size:18px;
	}

	h2 p {
		margin-top:10px;
		font-size:15px;
	}

	p.alignleft.role {
	  font-size:14px;
	}

	p.alignright.role {
		font-size:12px;
		font-weight: normal;
	}

	p, li {
		font-size:12px;
	}

	div.experienceDetails ul li {
		margin:0px 0px 10px 0px;
	}


	.outerWrapper {
		padding:0px;
	}
	.wrapper {
		padding:15px;
		margin:0px;
		width:100%;
		overflow:initial;
		height:100%;
	}
    .innerWrapper {
      margin:0px;
      overflow:initial;
      padding:10px;
    }

    .container {
      padding:0;
      margin:0;
    }

	.alignleft {
		float: none;
		margin:15px, 0px, 0px, 0px;
		padding-bottom:0px;
		text-indent:-17px;

	}

	.alignright {
		float: none;
		margin:0px;
		padding-top:0px;
		padding-bottom:10px;
		padding-left:18px;
		text-indent:-19px;
	}

	.alignright:before {
		content:"\A";
	}

    .navbar-fixed-top, .navbar-fixed-bottom, .navbar-static-top {
      margin-left: 0;
      margin-right: 0;
      margin-bottom:0;
    }
}