html, body {
	background-color:#C8C8C8;
	height:100%;
	text-align:center;
	padding:0px 0px;
}

.screen .header {
	position:relative;
}

.wrapper, .header 
{ 
	background-color: #F8F8F8;
	width:85%;
	max-width:850px;
}

h1 
{
	margin: 0px;
}

.fixedHeader {
	position:fixed;
	width:100%;
}
.header, .body-content {
	padding:20px;
	margin-top:0px;
}

.header {
	box-shadow: 0px 3px 5px #888888;
	margin-top:0px;
	padding:20px 20px 20px 20px;
}

.links {
	font-size:20px;
	padding-top:10px;
	font-weight:normal;
}

.wrapper 
{
	display:inline-block;
	height:100%;
	color:#3E3E3E;
	overflow:auto;
	text-align:initial;
	box-shadow:-15px 0px 10px -15px #444444 inset;
}

.print { 
	display:none; 
}

.body-content {
	padding-top:10px;
}

.footer {
	height:1000px;
}

.body-content:before {
	box-shadow: 3px 10px 3px 0px #AAAAAA;
    content: " ";
    height: 100%;
    position: fixed;
    top: 147px;
    width: 20px;
    margin-left: -40px
}

a {
	color: #00B7FF;
}

p.role {
	font-size:16px;
}

div.experienceDetails ul li {
	margin:0px 0px 10px 0px;
}

h1 p {
	font-size: 24px;
	font-weight: bold;
	margin:0px;
}

p, li {
	font-size:14px;
	text-align:justify;
}

h2 {
	margin:0px;
}
h2  p{
	font-size:18px;
	text-transform: uppercase;
	font-weight:bold;
	margin-bottom:3px;
}

h3 p {
	font-size:16px;
	margin-bottom:3px;
	font-weight:bold;
}

ul { 
	margin-top:3px;
	padding-left:30px;
}

li { 
	margin-bottom:3px;
}

p {
	margin:10px 2px;
}

.alignleft {
	float: left;
	margin:0px;
}

.alignright {
	float: right;
	margin:0px;
}

.experience {
	padding-left:5px;
	padding-top:10px;
}

.experienceDetails {
	padding-left:5px;
}

.jobtitle {
	font-weight:bold;
	clear:both;
	display:inline-block;
	width:100%
}

.pointer {
	cursor:pointer;
	display:inline-block;
	margin:0px;
	padding-bottom:0px;
}

.section{
	padding-left:20px;
	padding-right:20px;
}

.section .expander:before {
    content: "-";  
    width: 20px;
    display:inline-block;
    margin-left:-20px;
}

.section .collapsed .expander:before {
	content: "+"; 
	width:20px;
	margin-left:-20px;
    display:inline-block;

}

.section .collapsed.expander:before {
    content: "+"; 
    padding-right:5px;  
} 

.sectionContent { 
	padding-left:18px;
}

.skill {
	padding-bottom:5px;
}

.print {
	margin:0px;
	padding:0px;
	display:none;
}

.skillCategory {
	font-weight:bold;
}

@media print {
	.header {
		text-transform:uppercase;
	}
	.wrapper {
		all:initial;
		font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
	}

	.screen {
		display:none;
	}

	.print { 
		display:inline-block; 
	}

	* {
		transition:none!important;
	  	position:relative !important;
	  	padding:0px !important;
	  	margin:0px !important;
	  	font-size:12px !important;
	}

	#davidMorton {
		display:inline-block;
	}

	.skillCategory {
		font-weight:normal;
		font-style:italic;
	}

	#occupation {
		float:right;
		display:none;
	}

	script, style { 
	    display:none; 
	}

	h1 {
		position:relative !important;
		margin:0px;
		padding:0px;
		width:100%;
		max-width: initial;
	}

	.expander:before {
		display:none;
	}

	.section {
		padding:16px 0px 0px 0px !important;
		margin:0px;
		page-break-inside:avoid;
	}

	#exp-section { 
		page-break-inside:initial;
	}

	.collapse {
		display:table;
	}

	.skill {
		padding-bottom:0px;
	}

	div.experienceDetails ul li {
    	margin: initial;
	}

	.sectionContent {
		padding-left:0px;
		width:100%;
	}

	ul {
		padding-left:20px !important;
	}

	.footer {
		display:none;
	}

	p, li {
		font-size:12px;
		text-align:left;
	}

	p.role {
		font-size:12px;
	}

	h2 p {
		font-size:12px;
	}

	.body-content {
		padding:0px;
		margin:0px;
	}

	.body-content:before {
		display:none;
		visibility:hidden;
		margin-left:0px;
		width:0px;
	}

	.jobTitle, .alignleft, .alignright { 
		font-weight:normal !important;
		font-style:italic !important;
	}

	.alignleft, .alignright { 
		font-weight:normal;
		font-style:italic;
	}

	.experience {
		width:100%;
		page-break-inside: avoid;
		padding-left:0px;
		margin-bottom:10px !important;
	}
}

@media screen and (max-width: 850px) {

	.wrapper, .header 
	{
		width:100%;
	}

	h1, .header, .body-content {
		padding:0px;
	}

	.spacer {
		height:100px;
		max-height:initial;
	}

	html, body {
		background-color:#F8F8F8;
		height:initial;
	}

	ul { 
		margin-top:3px;
		padding-left:15px;
	}

	.body-content {
		padding:10px;
	}

	.body-content:before {
		box-shadow:initial;
	}

	.section{
		padding-left:0px;
		padding-right:20px;
	}

	.experience {
		margin-left:10px;
	}

	h1 {
		width:100%;
		padding:10px;

		box-shadow: 0px 2px 5px #888888
	}

	h1 p {
		font-size:20px;
	}

	h2 p {
		margin-top:10px;
		font-size:15px;
	}

	h2 {
		margin-left:20px;
	}

	p.alignleft.role {
	  font-size:14px;
	  text-align:left !important;
	}

	p.alignright.role {
		font-size:12px;
		font-weight: normal;
		padding-bottom:3px;
		text-align:left !important;
		margin-left:1px;
	}

	p, li {
		font-size:12px;
	}

	.links {
		font-size:12px;
		padding-top:6px;
	}

	.wrapper {
		padding:0px 0px;
		margin:0px;
		height:initial;
		width:100%;
		overflow:initial;
		height:100%;
		box-shadow: initial;
	}

    .container {
      padding:0;
      margin:0;
    }

	.alignleft {
		float: none;
		margin:15px, 0px, 0px, 0px;
		padding-bottom:0px;
		/*text-indent:-17px;*/

	}

	.alignright {
		float: none;
		margin:0px;
		padding-top:0px;
		padding-bottom:10px;
	}

	.alignright:before {
		content:"\A";
	}

    .navbar-fixed-top, .navbar-fixed-bottom, .navbar-static-top {
      margin-left: 0;
      margin-right: 0;
      margin-bottom:0;
    }
}