body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

h1 {
	font-size: 20px;
	text-transform: uppercase;
	margin-top:0px;
}

h1 p { 
	margin:0px;
}

h2 {
	font-size:18px;
	text-transform: uppercase;
	margin-bottom:3px;
}

h3 {
	font-size:16px;
	text-transform: uppercase;
	margin-bottom:3px;
}

ul { 
	margin-top:3px;
	padding-left:30px;
}

li { 
	margin-bottom:3px;
}

.pointer {
	cursor:pointer;
	display:inline-block;
	margin:0px;
}
p {
	margin:2px;
}
.sectionContent { 
	padding-left:10px;
}

.section{
	padding-left:10px;
}

.skill {
	padding-bottom:5px;
}

@media (max-width: 500px) {
    .container {
      padding:0;
      margin:0;
    }

    body {
      padding:10px;
    }

    .navbar-fixed-top, .navbar-fixed-bottom, .navbar-static-top {
      margin-left: 0;
      margin-right: 0;
      margin-bottom:0;
    }
}