
<div id="{{contentId}}-section" hash="{{ &quot;#/&quot; + contentId }}" class="section">
  <div> 
    <h2 data-toggle="collapse" data-target="{{ &quot;#&quot; + contentId}}" href="{{ &quot;#&quot; + contentId }}" class="expander pointer collapsed">{{contentTitle}}</h2>
  </div>
  <div id="{{contentId}}" class="sectionContent collapse">
    <div ng-repeat="company in experiences" class="company">
      <div hash="#/exp/exp{{$index}}" data-toggle="collapse" data-target="#companydetails{{$index}}" class="pointer companyNameContainer">
        <p class="pointer companyName">{{company.company}}</p>
        <p class="alignright companyName endDate">{{company.roles[0].endDate}}</p>
        <p class="alignright companyName dash">-</p>      
        <p class="alignright companyName startDate">{{company.roles[company.roles.length - 1].startDate}}</p>
      </div>
      
      <div id="companydetails{{$index}}" class="companyDetails collapse">
        <div ng-repeat="role in company.roles" class="experience">
          <p class="jobtitle">{{role.title}}, {{role.startDate}}-{{role.endDate}}</p>
          <div class="experienceDetails" id="exp{{experiences.length - $index}}" class="">
            <ul>
              <li ng-repeat="highlight in role.achievements">{{highlight}}</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>