.section(id='{{contentId}}-section', hash='{{ "#/" + contentId }}')
	div 
		h2.expander.pointer.collapsed(data-toggle='collapse', data-target='{{ "#" + contentId}}', href='{{ "#" + contentId }}') {{contentTitle}}
	.sectionContent.collapse(id='{{contentId}}')
		block content