extends ../mixins/sectionheader

block content
	.experience(ng-repeat="position in experiences")
		div.pointer.collapsed.jobtitle(data-toggle='collapse', data-target='#exp{{$index}}', href='#exp{{$index}}')
			p.alignleft.expander.role {{position.title}}, {{position.company}}
			p.alignright.role {{position.startDate}}-{{position.endDate}}
		.experienceDetails.collapse(id='exp{{$index}}')
			ul
				li(ng-repeat="highlight in position.achievements") {{highlight}}