div.header
	h1.screen(id='davidMorton') {{data.name}}
	h2.screen(id='occupation') {{data.occupation}}
	h1.print {{data.name}} - {{data.phone}} - {{data.email}}
	h2.screen.notmobile {{data.phone}}
	h1.links.screen.mobile
		a(href='{{ "tel:+" + data.phone }}') {{data.phone}}
	h2.links.screen
		span(ng-repeat="link in data.links")
			a(href='{{link.address}}', target='_blank') {{link.name}}
			| {{$last ? '' : ' | '}}