extends ../mixins/sectionheader

block content
	p.screen.skill(ng-repeat="skill in skills")
		span.skillCategory {{skill.category + ":&nbsp;"}}
		span= "{{skill.values.join(', ')}}"
	
	p.print
		span(ng-repeat="skill in skillsList")
			span(ng-style="{ fontWeight: (skill.bold ? 'bold' : 'normal') }") {{skill.value}}
			span(ng-if="$index != skillsList.length-1")= " | "